[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gretel-client = "*"
jupyter = "*"
pandas = "*"
faker = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
faker-vehicle = "*"
matplotlib = "*"
scikit-learn = "*"
algorithms = "*"

[dev-packages]

[requires]
python_version = "3.9"
